{% extends 'shared/base.html' %}
{% block title %}목록{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}
{% block body %}
    {{ request.session.userId }}
    <div style="width: 85%; text-align: right;">
        <a href="/app/new">새로운 게시물 추가</a>
    </div>
    <button class="btn btn-success">ads</button>
    <center>
        <div style="width: 70%;">
            <table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
                <thead><td>#<td>제목<td></td></thead>
                <tbody>
                    {% for board in boardList %}
                        <tr><td>{{ forloop.counter }}<td><a href="/app/board/{{ board.id }}">{{ board.title }}</a><td><a href="/app/board/{{ board.id }}/delete">삭제</a></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </center>
{% endblock %}