{% extends 'shareTemplate/base.html' %}
{% block title %}New{% endblock %}
{% block body %}
    <div class="uk-card uk-card-default uk-card-body uk-width-2-2@l uk-margin">
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">글 쓰기</h3>
            <form action="/web/board/create" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="uk-button uk-button-primary" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}