{% extends 'shared/base.html' %}
{% block title %}목록{% endblock %}
{% block style %}
{% endblock %}
{% block body %}
    <center>
        <div style="width: 80%;">
            <table style='text-align: center;style='text-align: center'' class="uk-table uk-table-divider uk-table-striped uk-table-hover">
                <thead><td>#<td>제목<td></td></thead>
                <tbody>
                    {% for b in board %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            <td>
                                <a href="/app/board/{{ b.id }}">{{ b.title }}</a>
                            <td>
                                <a href="/app/remove/{{ b.id }}">삭제</a>
                            </td>
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
        </div>
    </center>
    <div style='width: 90%;text-align: right;'>
        <a class='newbtn' href="/app/new">게시물 작성</a>
    </div>
{% endblock %}





